global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice

  maxconn 32768
  chroot /var/lib/haproxy
  pidfile /var/run/haproxy.pid

  user haproxy
  group haproxy

  debug

  stats socket /var/lib/haproxy/stats

defaults
  log global
  mode tcp

  retries 3
  maxconn 10000

  option tcplog
  option dontlognull
  option redispatch

  timeout connect 5000
  timeout client 50000
  timeout server 450000

listen stats
  bind :9000
  mode http

  stats enable
  stats uri /
  stats refresh 5s
  stats realm TCPProxy
  stats auth {{getenv "TCPPROXY_USERNAME"}}:{{getenv "TCPPROXY_PASSWORD"}}

{{range lsdir "/app"}}listen {{.}}
  bind {{getv (printf "/app/%s/listen" .)}}
  mode tcp
{{range gets (printf "/app/%s/servers/*" .)}}
  server {{base .Key}} {{base .Value}}{{end}}
{{range gets (printf "/app/%s/options/*" .)}}
  {{base .Value}}{{end}}
{{end}}